header {
    background-color: #7B3314;
    height: 80px;
    align-items: center;
    justify-content: end;
}


.pagina_produtos {
    width: 90%;
    max-width: 1440px;
    display: flex;
    color: #ffffff;
    position: absolute;
    align-items: center;
    margin: 0 100px;
}

.pagina_produtos img {
    margin-top: 25px;
    height: 30px;
    width: 100px;
}

.colecao {
    gap: 50px;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    left: 100px;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    font-size: 25px;

}


img {
    width: 100%;
    height: 160px;
}
