header {
    background-color: #7B3314;
    height: 80px;
    align-items: center;
    justify-content: end;
}

.container_cabecalho {
    display: flex;
width: 100%;
justify-content: space-between;

    align-items: center;
 
}

.pagina_produtos {
    width: 90%;
    max-width: 1440px;
    display: flex;
    color: #ffffff;
   
    align-items: center;
    margin: 0 100px;
}

.pagina_produtos img {
    margin-bottom: 25px;
    height: 30px;
    width: 100px;
   
}

.colecao {
 
 
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    left: 100px;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    font-size: 25px;

}

.colecao2{
  

    display: flex;
    left: 100px;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    font-size: 25px; 
}

img {

}


@media screen and (max-width: 768px) {
 
    .me-auto {
      align-items: end;
    }
    .logo_header {
        margin-left: 1rem 0 1rem 0;
    }
    .icone_home {
        margin-bottom: 5px;
    }
    
}