header {
    background-color: #7B3314;
    height: 80px;
    align-items: center;
    justify-content: end;
}

.container_cabecalho {
    display: flex;
}

.menu_barras {
    width: 50px;
    color: #ffffff;
    display: none;
    z-index: 2;
}

.pagina_produtos {
    width: 90%;
    max-width: 1440px;
    display: flex;
    color: #ffffff;
    /* position: absolute; */
    align-items: center;
    margin: 0 100px;
}

.logo {
    margin: 25px;
    height: 30px;
    width: 100px;
}

.colecao {

    gap: 50px;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    left: 100px;
    color: #ffffff;

    justify-content: flex-end;
    align-items: center;
    height: 80px;

    font-size: 25px;
    z-index: 3;
}

.colecao p {
    cursor: pointer;
}

.lupa_k {
    width: 35px;
    cursor: pointer;

}


.banner {
    width: 100%;
    height: 160px;
}

svg {
    height: 50px;

}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

.cardis {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    padding: 100px 20px;
}

.card_produto {
    width: 250px;
    height: 500px;
    background-color: #FBFBFB;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 50px 50px;
    box-shadow: 0 4px 4px 2px #00000025;
    align-items: center;
    cursor: pointer;
}

.card_produto .nome {
    padding: 2px 40px;
    font-family: "Italiana", sans-serif;
    color: #7B3314;
}

.card_produto img {
    width: 150px;
    height: 200px;
}

.rodape {
    width: 100%;
    height: 25px;
    background-color: #7B3314;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 100px;
    height: 100%;
}

@media screen and (max-width: 550px) {

    .container_cabecalho {
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }

    .logo {
        margin-top: 5px;
        height: 30px;
        width: 100px;
    }

    .pagina_produtos {
        padding: 10px;
        position: fixed;
        top: -100px;
        overflow-y: hidden;
        top: -100px;
        right: 30px;
        transition: .5s;
        width: 80%;
        z-index: 2;
    }


    .menu_barras {
        display: block;
        right: 50px;
        z-index: 2;
    }

    .colecao {
        align-items: normal;
    }

    .colecao p {
        margin-top: 10px;
        height: 30px;
        width: 100px;
    }

    .cardis {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 50px 15px;
    }

    .card_produto {
        width: 150px;
        height: 250px;
        background-color: #FBFBFB;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        margin: 50px 10px;
        box-shadow: 0 4px 4px 2px #00000025;
        align-items: center;
        cursor: pointer;
    }

    .card_produto img {
        width: 80px;
        height: 100px;
    }

    .nome {
        font-size: 13px;
    }

    .banner {
        width: 100%;
        height: 80px;
    }

}